body {
    background: rgb(201, 218, 219);
    font-family: 'Courier New', Courier, monospace;
}
.header {
    text-align: center;
    background-color: rgb(248, 200, 250);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #686767;
    border-radius: 70px;
    font-weight: 300;
    font-variant: small-caps;
}
.third {
    display:none;
}
button {
    color:rgb(83, 83, 83);
    background-color: rgb(220, 245, 196);
    font-family:'Courier New', Courier, monospace;
    border-width: 1px;
}